header {
  background-color: #1f2937;
  color: white;
}
.subtext {
  color: whitesmoke;
}

.preview {
  /* margin: 700px 300px 150px; */
  width: 50%;
  height: 250px;
}
.header-button {
  background-color: #3b82f6;
}
