* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --darkHero-footer: #1f2937;
  --heroMainText: #f9faf8;
  --heroSecondary: #e5e7eb;
  --headerLogo: #f9faf8;
  --buttonColor: #3882f6;
  --header-text: #1f2937;
  --quoteSection: #e5e7eb;
  --quoteText: #1f2937;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
header {
  background-color: var(--darkHero-footer);
}
.header-wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

/* --- header nav bar section*/
header .header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}

nav ul {
  display: flex;
  gap: 2rem;
}

ul a {
  font-size: 18px;
  color: var(--headerLogo);
}

.logo {
  font-size: 24px;
  color: var(--headerLogo);
  font-weight: bold;
}

/* ---- section hero */

.section-hero {
  background-color: var(--darkHero-footer);
}

.hero-info {
  display: flex;
  gap: 24px;
  padding: 100px 0;
  max-width: 1024px;
  margin: 0 auto;
}

.hero-content p {
  margin-bottom: 1rem;
  line-height: 1.3;

  font-size: 18px;
  color: var(--heroSecondary);
}
h1 {
  font-size: 48px;
  font-weight: 900;
  color: var(--headerLogo);
}

.btn {
  background-color: var(--buttonColor);
  border-style: none;
  color: var(--heroMainText);
  font-weight: bold;
  border-radius: 7px;
  width: 8rem;
  height: 2.3rem;
  font-size: 16px;
}

/* ---- container-cards section */

h2 {
  text-align: center;
  padding: 3rem 0;
  font-size: 36px;
  font-weight: 900;
  color: var(--darkHero-footer);
}

.container-cards {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin-bottom: 130px;
}

.card-img {
  width: 178px;
}

.card-img p {
  text-align: center;
  font-size: 18px;
}

.card-img img {
  border: 4px solid var(--buttonColor);
  border-radius: 13px;
}

/* ---- quote section */

.quote {
  background-color: var(--quoteSection);
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container p {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: var(--darkHero-footer);
}
.container {
  max-width: 820px;
}

span {
  display: flex;
  justify-content: end;
  font-size: 26px;
  font-weight: 700;
}

/* ---- hero end section */

.hero-end .container {
  background-color: var(--buttonColor);
  padding: 40px 95px;
  border-radius: 10px;
  margin: 100px auto;
  max-width: 1024px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  color: white;
}

.content p {
  font-size: 18px;
  color: white;
}

.btn-secondary {
  border: 2px solid white;
  border-radius: 7px;
}

h3 {
  font-size: 25px;
}

.footer {
  background-color: var(--darkHero-footer);
  color: var(--heroSecondary);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
