* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 350px;
  background-color: #1f2937;
}

.nav-left {
  display: flex;
}

.nav-left-logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
  display: flex;
}

.image {
  color: white;
  border: 3px red;
  border-style: groove;
  width: 500px;
  height: 200px;
  text-align: center;
}

.nav-bar ul,
a {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: #e5e7eb;
  gap: 2rem;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-content: center;
  font-size: 18px;
  color: #e5e7eb;
}

h1 {
  font-style: times new roman;
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.subtext {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  background-color: #3b82f6;
  color: white;
}

img {
  display: flex;
  flex-direction: row;
  border: 50px solid red;
}

.container-inf {
  flex: 1;
}

.quote-container {
  font-size: 36px;
  font-style: italic;
  background-color: #e5e7eb;
  color: #1f2937;
}

.button-container {
  background-color: #3b82f6;
}

.footer {
  background-color: #1f2937;
}
